<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>training.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidTraining</servlet-name>
        <servlet-class>training.ValidTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingPlanServlet</servlet-name>
        <servlet-class>training.TrainingPlanController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainingPlanServlet</servlet-name>
        <url-pattern>/trainingPlan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitBDD</servlet-name>
        <servlet-class>training.InitBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDomains</servlet-name>
        <servlet-class>training.GetDomains</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>training.Connection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FluxRss</servlet-name>
        <servlet-class>training.FluxRss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>training.Deconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>training.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTrainings</servlet-name>
        <servlet-class>training.UserTrainings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTraining</servlet-name>
        <servlet-class>training.AddTraining</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTraining</servlet-name>
        <url-pattern>/addtraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTrainings</servlet-name>
        <url-pattern>/usertrainings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/deconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FluxRss</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDomains</servlet-name>
        <url-pattern>/getalldomains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitBDD</servlet-name>
        <url-pattern>/initbdd</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/gethomemessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTrainings</servlet-name>
        <url-pattern>/UserTrainings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TokenChannelGeneratorServlet</servlet-name>
        <servlet-class>training.TokenChannelGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenChannelGeneratorServlet</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidTraining</servlet-name>
        <url-pattern>/validtrainingexercise</url-pattern>

    </servlet-mapping>
</web-app>